#sidebar{
    background-color: #222D32;
    height: 80vh;
}

#navbar-component-bg{
    background-color: #222D32;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

ul li a{
    text-decoration: none; 
    color: white;
    line-height: 3.5rem;
    
}